.card {
	max-inline-size: 232px;
	background: linear-gradient(
		173deg,
		rgb(241 209 190 / 40%) 21.35%,
		rgb(255 255 255 / 0%) 136.88%
	);
	border: 1px solid rgb(0 0 0 / 23%);
	border-radius: 20px;
	transition:
		transform 0.3s,
		box-shadow 0.3s;
}

.card:hover {
	box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
	transform: scale(1.05);
}

.image {
	display: block;
	inline-size: 219px;
	block-size: 177px;
	margin: 0 auto;
	padding: 10px 7px 12px;
	object-fit: cover;
	object-position: center;
}

.prices {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 19px;
	padding-block-end: 6px;
}

.salePrice {
	color: #009ea8;
	font-weight: 700;
	font-size: 15px;
}

.price {
	color: #272726;
	font-weight: 700;
	font-size: 10px;
	text-decoration-line: line-through;
}

.sale {
	justify-content: center;
	padding: 2px 7px;
	color: #ffffff;
	font-weight: 700;
	font-size: 12px;
	background: #009ea8;
	border-radius: 8px;
}

.text {
	padding-block-end: 17px;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
}
