.similarProducts {
	grid-area: similar;
}

.title {
	padding-block-start: 100px;
	font-weight: 700;
	font-size: 40px;
	font-family: var(--accent-font);
	font-style: normal;
	line-height: normal;
	text-align: center;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 47px;
	padding-block: 31px 273px;
}
